<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\kpibalancing" />
    <add key="WSGI_HANDLER" value="config.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="config.settings" />
  </appSettings>
    <system.webServer>
        <handlers>
            <remove name="DjangoHandler" />
        </handlers>
    </system.webServer>
</configuration>